.divOne 
{
    background-color: #1F2937;
    height: 400px;
    color:#E5E7Eb;
    
    
    
}

.navbar
{
   display:flex;
   
}

.headerLogo
{
 color: F9FAF8;
 font-size: 24px

}

.headerLogoDiv
{
    padding-left: 100px;
    padding-top: 30px;
}

.aDiv1
{
    padding-left: 600px;
    padding-top: 40px;
}
.aDiv2, .aDiv3
{
    padding-top: 40px;
    
}

a 
{
    color: #E5E7Eb; 
    font-size: 18px;
    margin: 20px;
    
    
}

.divMainTitle
{
    display:flex;
    padding-left: 200px;
    padding-top: 50px;
}

.DivImg
{
    padding-left: 150px;
}

img
{
    background-color: grey;
    width: 400px;
    height: 200px;
    
}

button
{
    background-color: #3882f6;
    color: white;
}

.divTwo
{
    background-color: white;
    height: 400px;
}

.divThree
{
  background-color: #E5E7Eb;
  height: 400px;
}

.divFour
{
    background-color: white;
    height: 400px;   
}

footer
{
    background-color: #1F2937;
    height: 100px; 
    color: #E5E7Eb;
}