.divOne 
{
    background-color: #1F2937;
    height: 500px;
    color:#E5E7Eb;
    
    
    
}

.navbar
{
   display:flex;
   
}

.headerLogo
{
 color: F9FAF8;
 font-size: 24px

}

.headerLogoDiv
{
    padding-left: 200px;
    padding-top: 30px;
}

.aDiv1
{
    padding-left: 500px;
    padding-top: 40px;
}
.aDiv2, .aDiv3
{
    padding-top: 40px;
    
}

a 
{
    color: #E5E7Eb; 
    font-size: 18px;
    margin: 20px;
    
    
}

.divMainTitle
{
    display:flex;
    padding-left: 200px;
    padding-top: 50px;
}

.MainTitle
{
    font-size: 48px;
    font-weight:bolder;
    color: F9FAF8;
}

.DivImg
{
    padding-left: 150px;
}

img
{
    background-color: grey;
    width: 450px;
    height: 260px;
    
}

button
{
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    width: 150px;
    height: 30px;
    font-weight: bold;
}

.divTwo
{
    background-color: white;
    height: 500px;
}

.divTwoTitle
{
   padding-left: 550px;
   padding-top: 30px;
   padding-right: 400px;
    height: 70px;
    
}

.divTwoHTwo
{
font-size: 36px;
color: 1F2937;
}

.divBoxes, .divimgbox
{
    display: flex;
    justify-content:space-evenly;
}

.div1Boxes, .div2Boxes, .div3Boxes, .div4Boxes
{
    height: 170px;
    width: 150px;
    border: solid blue;
    border-radius: 10px;
    margin: 50px 0px 30px 0px;
    

}




.divThree
{
  background-color: #E5E7Eb;
  height: 400px;
}

.paragraphdiv3
{
    text-align: center;
    padding-top: 50px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.nameOfCustomerDiv3
{
    margin-left: 900px;
    padding-top: 20px;
    font-size: 30px;
}

.divFour
{
    background-color: white;
    height: 400px;   
    display: flex;
}

.callboxdiv4
{
    margin-left: 250px;
    margin-top: 150px;
    background-color: #3882f6;
    height: 150px;
    width: 70%;
    border-radius: 12px;
}

.signupbuttonbottomdiv
{
    margin-left: 550px;
    margin-right: 250px;
    padding-bottom: 0px;
    
    
   
}

.callTwoActionDiv
{
    margin-left: 70px;
    margin-top: 50px;
    color: #E5E7Eb;
    font-size: 30px
  
}

.callTwoParaDiv
{
    margin-left: 70px;
    color: #E5E7Eb;
}


.buttombutton
{
    border: solid #E5E7Eb;
}

footer
{
    background-color: #1F2937;
    height: 100px; 
    color: #E5E7Eb;
    margin-bottom: 0px;
}

.copyrightdiv 
{
    margin-left: 600px;
    padding-top: 45px;
    
}